<div class="jumbotron text-center">
    <h1>Actor and Movie DB System</h1>
</div>

<nav class="navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
      <li class="nav-item" style="padding-left:0.2in">
        <div *ngIf = "!aToggle">
        <a class="btn btn-danger" (click)="actorPage()">Actors</a>
        </div>
        <div *ngIf = "aToggle">
          <a class="btn btn-success" (click)="actorPage()">Actors</a>
          </div>
      </li>
      <li class="nav-item" style="padding-left:0.2in">
        <div *ngIf = "!mToggle">
          <a class="btn btn-danger" (click)="moviePage()">Movies</a>
          </div>
          <div *ngIf = "mToggle">
            <a class="btn btn-success" (click)="moviePage()">Movies</a>
            </div>
      </li>
    </ul>
  </nav>
  <br>
  
  <!-- DISPLAY BOTH DBs SIDE BY SIDE-->
  <div class = "container">
    <div class= "row">

      <div class = "col">
      <div class="w3-card-4 w3-dark-grey">
        <div class="w3-container w3-center">
          <div *ngIf = "aPage && mPage"><app-actor></app-actor></div>
        </div>
      </div>
    </div>


      <div class = "col">
      <div class="w3-card-4 w3-dark-grey">
        <div class="w3-container w3-center">
          <div *ngIf = "mPage && aPage" ><app-movie></app-movie></div>
        </div>
      </div>
      </div>

    </div>

  </div>

  <!--ONLY DISPLAY MOVIE DB-->

  <div class = "container">
      <div class= "row">
  
        <div class = "col">
        <div class="w3-card-4 w3-dark-grey">
          <div class="w3-container w3-center">
            <div *ngIf = "mPage && !aPage" ><app-movie></app-movie></div>
          </div>
        </div>
        </div>
  
      </div>
  
    </div>


    <!--ONLY DISPLAY ACTOR DB-->

    <div class = "container">
        <div class= "row">
    
          <div class = "col">
          <div class="w3-card-4 w3-dark-grey">
            <div class="w3-container w3-center">
              <div *ngIf = "aPage && !mPage" ><app-actor></app-actor></div>
            </div>
          </div>
        </div>
          
    
        </div>
    
      </div>



  
  

